html {
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
    background-color: '#DCDCDC';
}

body {
    color: darkslategray;
}

#name {
    text-align: center;
    font-size: 25px;
}

#navigation {
    text-align: center;
}

.project_year {
    float: right;
    font-weight: bold;
    font-style: italic;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: dimgray;
}

#pic {
    padding-left: 300px;
}

img {
    border: 2px solid;
}
