html {
    font-family: 'Georgia', Times, serif;
    background-color: #fbf7f5;
}

#name {
    text-align: center;
    font-size: 25px;
}

.project_year {
    float: right;
    font-weight: bold;
    font-style: italic;
}

a {
    color: navy;
}

a:hover {
    color: blue;
}

#pic {
    padding-left: 300px;
}

img {
    border: 2px solid;
}
