html {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, monospace;
    background-color: #fbf7f5;
}

#navigation {
    text-align: center;
}

#navigation li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.project_year {
    float: right;
    font-weight: bold;
    font-style: italic;
}

.project {
    color: navy;
    text-decoration: underline;
}

.project:hover {
    color: blue;
    text-decoration: none;
}

#name_container {
    text-align:center;
}

#name {
    display: inline-block;
    font-size: 25px;
}

.navigation_page:hover {
    color: navy;
}

#pic {
    padding-left: 200px;
    vertical-align: middle;
}

img {
    float: right;
    border: 2px solid;
}

#intro {
    padding-top: 50px;
    padding-left: 125px;
}

#intro ul {
    list-style-position: inside;
}
